<h1><%= pluralize(@articles.count, 'article') %> waiting for you</h1>
<p>
	<%= @time %>
</p>

<ul>
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
<ul>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Importance</th>
  </tr>
  <% @articles.each do |article| %>
		<tr style="background-color:<%= cycle("red", "green") %>">
			<td><%= link_to article.title, article_path(article) %></td>
			<td><%= article.body %></td>
			<td><%= article.importance %></td>
		</tr>
	<% end %>
</table>