<h1><%= @article.title %></h1>
<p>Body: <%= @article.body %></p>
<p>Importance: <%= @article.importance %></p>

<p>Created <%= time_ago_in_words(@article.created_at) %> ago</p>
<p>Updated <%= time_ago_in_words(@article.updated_at) %> ago</p>

<p><%= link_to_unless_current "Go to next article", @article.next %></p>
<p><%= link_to_unless_current "Go to previous article", @article.prev %></p>

<% if user_signed_in? %>
  <p><%= link_to "Edit this article", edit_article_path %></p>
  <p><%= link_to "Delete this article",
          article_path,
          method: :delete,
          data: { confirm: "Do you really want to delete this amazing article?" } %></p>
<% end %>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
	<p>Commenter: <%= comment.commenter %></p>
	<p>Comment: <%= comment.body %></p>
<% end %>

<h2>Add a Comment</h2>
<%= form_with model: [@article, @article.comments.build ] do |form| %>
  <div>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>